<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atguigu.l09_provide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册ContentProvider
        格式：
        1：content://com.atguigu.l09_provide.personprovider/person/
        2: content://com.atguigu.l09_provide.personprovider/person/4
        -->
        <provider
            android:exported="true"
            android:authorities="com.atguigu.l09_provide.personprovider"
            android:name=".PersonProvider"></provider>
    </application>

</manifest>